In [1]:
import pandas as pd

In [2]:
completeData = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv")

In [3]:
completeData

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3
0,Australia,2020-04-13 05:14:44,-25.000000,133.000000,6351,61,1806,4484,24.945306,NaN,NaN,0.960479,36,AUS
1,Austria,2020-04-13 05:07:23,47.516200,14.550100,13945,350,6987,6608,154.834340,NaN,NaN,2.509860,40,AUT
2,Canada,2020-04-13 05:14:28,60.001000,-95.001000,24380,717,7172,16491,64.402451,NaN,NaN,2.940935,124,CAN
3,China,2020-04-13 00:27:41,30.592800,114.305500,83135,3343,77956,1836,5.918445,NaN,NaN,4.021170,156,CHN
4,Denmark,2020-04-13 05:07:23,56.000000,10.000000,6369,273,2291,3805,109.958163,NaN,NaN,4.286387,208,DNK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,2020-04-13 05:07:23,31.952200,35.233200,290,2,58,230,5.684696,NaN,NaN,0.689655,275,PSE
181,Western Sahara,2020-04-13 05:07:23,24.215500,-12.885800,6,0,0,6,1.004470,NaN,NaN,0.000000,732,ESH
182,Yemen,2020-04-13 05:07:23,15.552727,48.516388,1,0,0,1,0.003353,NaN,NaN,0.000000,887,YEM
183,Zambia,2020-04-13 05:07:23,-13.133897,27.849332,43,2,30,11,0.233900,NaN,NaN,4.651163,894,ZMB
184,Zimbabwe,2020-04-13 05:07:23,-19.015438,29.154857,14,3,0,11,0.094194,NaN,NaN,21.428571,716,ZWE

In [4]:
allData = completeData[["Country_Region" , "Last_Update" , "Lat" , "Long_" , "Confirmed" , "Deaths" , "Recovered" , "Active"]]

In [5]:
allData

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
0,Australia,2020-04-13 05:14:44,-25.000000,133.000000,6351,61,1806,4484
1,Austria,2020-04-13 05:07:23,47.516200,14.550100,13945,350,6987,6608
2,Canada,2020-04-13 05:14:28,60.001000,-95.001000,24380,717,7172,16491
3,China,2020-04-13 00:27:41,30.592800,114.305500,83135,3343,77956,1836
4,Denmark,2020-04-13 05:07:23,56.000000,10.000000,6369,273,2291,3805
...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,2020-04-13 05:07:23,31.952200,35.233200,290,2,58,230
181,Western Sahara,2020-04-13 05:07:23,24.215500,-12.885800,6,0,0,6
182,Yemen,2020-04-13 05:07:23,15.552727,48.516388,1,0,0,1
183,Zambia,2020-04-13 05:07:23,-13.133897,27.849332,43,2,30,11
184,Zimbabwe,2020-04-13 05:07:23,-19.015438,29.154857,14,3,0,11

In [6]:
newData = pd.DataFrame({"Country": allData["Country_Region"] ,"Date": allData["Last_Update"] , "Lat": allData["Lat"] , "Confirmed": allData["Confirmed"] , "Deaths": allData["Deaths"] , "Recovered": allData["Recovered"] , "Active": allData["Active"]})

In [7]:
newData

,Country,Date,Lat,Confirmed,Deaths,Recovered,Active
0,Australia,2020-04-13 05:14:44,-25.000000,6351,61,1806,4484
1,Austria,2020-04-13 05:07:23,47.516200,13945,350,6987,6608
2,Canada,2020-04-13 05:14:28,60.001000,24380,717,7172,16491
3,China,2020-04-13 00:27:41,30.592800,83135,3343,77956,1836
4,Denmark,2020-04-13 05:07:23,56.000000,6369,273,2291,3805
...,...,...,...,...,...,...,...
180,West Bank and Gaza,2020-04-13 05:07:23,31.952200,290,2,58,230
181,Western Sahara,2020-04-13 05:07:23,24.215500,6,0,0,6
182,Yemen,2020-04-13 05:07:23,15.552727,1,0,0,1
183,Zambia,2020-04-13 05:07:23,-13.133897,43,2,30,11
184,Zimbabwe,2020-04-13 05:07:23,-19.015438,14,3,0,11

In [8]:
newData.to_csv("./complete.csv")